<div class="columns-2">
    <form action="/search" method="post">
      <div>
        <label>Search by OCC_CODE</label>
        <input id="search" name="occ_code" class="block w-full rounded-md border-0 bg-white py-1.5 pl-10 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="00-0000" type="search">
      </div>
    </form>
    <form action="/search" method="post">
      <div>
        <label>Search by OCC_TITLE</label>
        <input id="search" name="occ_title" class="block w-full rounded-md border-0 bg-white py-1.5 pl-10 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Compliance Officers" type="search">
      </div>
    </form>
</div>
