<!DOCTYPE html>
<html lang="en" dir="ltr" class="h-full bg-gray-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="/tailwind.css" rel="stylesheet"> -->
    <%= assets(:css) %>
    <%= assets(:img) %>
    <title>RIPL</title>
  </head>

  <body class="h-full">
    <div class="bg-gray-800 p-8 mb-16">
      <nav>
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
          <div class="border-b border-gray-700">
            <div class="flex items-center justify-between h-16 px-4 sm:px-0">
              <div class="flex items-center">
                <div class="ml-10 flex items-baseline space-x-4">
                  <a href="/" class="no-underline bg-gray-900 text-white px-3 py-2 rounded-md font-medium">RIPL/Salary Data</a>
                </div>
                <div class="ml-10 flex items-baseline space-x-4">
                  <a href="/jobs" class="no-underline bg-gray-900 text-white px-3 py-2 rounded-md font-medium">Index</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <main>
      <div class="max-w-5xl mx-auto px-4">
        <%= yield %>
      </div>
    </main>

  </body>
</html>
